.up {
	position: fixed;
	right: 30px;
	bottom: 30px;

	cursor: pointer;
	transition: transform var(--animation);

	color: var(--white);
	border: none;
	border-radius: 10px;
	background: var(--primary);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.up:hover {
	transform: scale(1.05);
}

.upArrow {
	font-size: 40px;
	line-height: 40px;
}
